@model Contract;

@{
    ViewData["Title"] = $"Delete Contract: {Model.RegistrationNumber}";
}


<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<br />
@{
    ViewBag.View = "Contract";
}
<partial name="ContractDetailTable" model="Model">
    <form asp-action="Delete">
        <input type="hidden" asp-for="RegistrationNumber" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
