@model IList<Contract>;

@{
    ViewData["Title"] = "Participated Contracts";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<br />
@{
    ViewBag.User = "Participate";
}
<partial name="ShowContract" model="Model">
