@model UserSimpleDetailViewModel;

@{
    ViewData["Title"] = Model.User.FirstName + " " + Model.User.LastName;
}


<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<br />
@{
    ViewBag.View = "User";
}
<partial name="UserDetailTable" model="Model">
