@model RegisterViewModel
@{
    ViewData["Title"] = "Create user";
}

@section Styles
    {
    <link rel="stylesheet" href="~/css/login.css" />
}
    @{

    <div id="logreg-forms">
        <form asp-action="Register" method="post" class="form-signup">
            <br />
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign up</h1>
            <hr>

            <div asp-validation-summary="All" class="text-danger"></div>

            <input asp-for="FirstName" type="text" id="first-name" class="form-control" placeholder="First name" required autofocus="">
            <input asp-for="LastName" type="text" id="last-name" class="form-control" placeholder="Last name" required autofocus="">
            <input asp-for="PI_Number" type="text" id="rodne-cislo" class="form-control" placeholder="Rodne cislo" required="" autofocus="">
            <span asp-validation-for="PI_Number" class="text-danger"></span>
            <input asp-for="Email" type="email" id="user-email" class="form-control" placeholder="Email address" required autofocus="">
            <input asp-for="Phone" type="tel" id="user-phone" class="form-control" placeholder="Phone" autofocus="">
            <br />
            <input asp-for="Password" type="password" id="user-pass" class="form-control" placeholder="Password" autofocus="">
            <input asp-for="RepeatedPassword" type="password" id="user-repeatpass" class="form-control" placeholder="Repeat Password" autofocus="">
            <br />
            <input asp-for="Role" type="radio" id="user-role" class="form-select" checked="true" value="2" autofocus=""> <b>Client</b>

            @if (@User.IsInRole(Roles.Admin.ToString()))
            {
                <input asp-for="Role" type="radio" id="user-role" class="form-select" checked="false" value="1" autofocus=""> <b>Adviser</b>
                <input asp-for="Role" type="radio" id="user-role" class="form-select" checked="false" value="0" autofocus=""> <b>Admin</b>
            }
            <br />

            <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Create new user</button>
            <br />
        </form>
    </div>
}